<%= form_with(model: formulario) do |form| %>
  <% if formulario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(formulario.errors.count, "error") %> prohibited this formulario from being saved:</h2>

      <ul>
        <% formulario.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre_del_drinker %>
    <%= form.text_field :nombre_drinker %>
  </div>

  <div class="field">
    <%= form.label :estatura_en_cm %>
    <%= form.text_field :estatura_cm %>
  </div>

  <div class="field">
    <%= form.label :peso_en_kg %>
    <%= form.text_field :peso_kg %>
  </div>

  <div class="field">
    <%= form.label :genero %>
    <%= form.select :genero, options_for_select(["Masculino", "Femenino"]) %>
  </div>

  <div class="field">
    <%= form.label :horas_de_estadia %>
    <%= form.number_field :horas_estadia %>
  </div>

  <div class="field">
    <%= form.label :selecciona_tu_perfil %>
    <%= form.label :"Conductor: quiero beber lo suficiente para volver a salvo a casa"  %>
    <%= form.label :"Moderado: quiero beber lo suficiente para no tener resaca por la mañana" %>
    <%= form.label :"Alma de la fiesta: quiero beber hasta el agua de los floreros" %>
    <%= form.select :perfil, options_for_select(["Conductor", "Moderado",  "Alma de la fiesta"]) %>
  </div>

  <div class="field">
    <%= form.label :presupuesto_maximo_para_la_noche_en_dolares %>
    <%= form.select :presupuesto, options_for_select(["20", "50", "100"]) %>
  </div>

  <div class="field">
    <%= form.number_field :userlog_id, id: :formulario_userlog_id, value: current_userlog.id, type: :hidden %>
  </div>



  <div class="field">
    <%= form.label :selecciona_tus_licores_favoritos %>
    <div class="row">
     <% @liquors.each do |liquor| %>
      <label for="col-6 col-sm-3">
       <%= form.check_box :liquor_favorito, {multiple: true}, liquor.id, nil  %>
       <%= liquor.nombre_licor %>
       </label>
     <% end %>
    </div>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
