<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre drinker:</strong>
  <%= @formulario.nombre_drinker %>
</p>

<p>
  <strong>Estatura cm:</strong>
  <%= @formulario.estatura_cm %>
</p>

<p>
  <strong>Peso kg:</strong>
  <%= @formulario.peso_kg %>
</p>

<p>
  <strong>Genero:</strong>
  <%= @formulario.genero %>
</p>

<p>
  <strong>Horas estadia:</strong>
  <%= @formulario.horas_estadia %>
</p>

<p>
  <strong>Perfil:</strong>
  <%= @formulario.perfil %>
</p>

<p>
  <strong>Presupuesto:</strong>
  <%= @formulario.presupuesto %>
</p>



<p>
  <strong>widemark:</strong>
  <%= @wid %>
</p>


<p>
  <strong>licores_favoritos:</strong>
  <% @formulario.liquors.each do |liquor| %>
    
 
    <div class="card" style="width: 18rem;">
    <h5 class="card-title"><%= liquor.nombre_licor %></h5>
    <p class="card-text">

    
    
    <strong>Marca:</strong>
    <%= liquor.marca %>
  </p>
  
  <p>
    <strong>Grados de alcohol:</strong>
    <%= liquor.grados_alcohol %>
  </p>


  <p>
    <span class="btn btn-primary" >
    <%= link_to 'Ver cocteles', liquor, class:"text-white" %>
    </span>

  </p>
      
    </div>
    <br>
  <% end %>
  
</p>










<%= link_to 'Edit', edit_formulario_path(@formulario) %> |
<%= link_to 'Back', formularios_path %>
