<%= form_with(model: coctel) do |form| %>
  <% if coctel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coctel.errors.count, "error") %> prohibited this coctel from being saved:</h2>

      <ul>
        <% coctel.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre_coctel %>
    <%= form.text_field :nombre_coctel %>
  </div>

  <div class="field">
    <%= form.label :gramos_alcohol %>
    <%= form.text_field :gramos_alcohol %>
  </div>

  <div class="field">
    <%= form.label :precio %>
    <%= form.text_field :precio %>
  </div>

  <div class="field">
    <%= form.label :liquor_principal %>
    <div class="row">
     <% @liquors.each do |liquor| %>
      <label for="col-6 col-sm-3">
       <%= form.check_box :liquor_principal, {multiple:true}, liquor.id, nil  %>
       <%= liquor.nombre_licor %>
       </label>
     <% end %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
