<p id="notice"><%= notice %></p>

<h1>Cocteles</h1>
<!--

<%= form_with url: coctels_path, method: :get do |form| %>

  <%= form.number_field :min_price, placeholder: t('.min_price'),
  onChange: 'this.form.requestSumbit()' %>
  <%= form.number_field :max_price, placeholder: t('.max_price'),
  onChange: 'this.form.requestSumbit()' %>
  <% end %>

  -->

<table>
  <thead>
    <tr>
      <th>Nombre coctel</th>
      <th>Gramos alcohol</th>
      <th>Precio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coctels.each do |coctel| %>
      <tr>
        <td><%= coctel.nombre_coctel %></td>
        <td><%= coctel.gramos_alcohol %></td>
        <td><%= coctel.precio %></td>
        <td><%= link_to 'Ver coctel', coctel %></td>
        
        <% if current_userlog.id == 4 %>
        <td><%= link_to 'Edit', edit_coctel_path(coctel) %></td>
        <td><%= link_to 'Destroy', coctel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_userlog.id == 4 %>
<%= link_to 'New Coctel', new_coctel_path %>
<% end %>
