<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre coctel:</strong>
  <%= @coctel.nombre_coctel %>
</p>

<p>
  <strong>Gramos alcohol:</strong>
  <%= @coctel.gramos_alcohol %>
</p>


<p>
  <strong>Precio:</strong>
  <%= @coctel.precio %>
</p>


<% if current_userlog.id == 4 %>
<%= link_to 'Edit', edit_coctel_path(@coctel) %> 
<% end %>
<%= link_to 'Regresar', coctels_path %>
