<p id="notice"><%= notice %></p>


<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"> <%= @liquor.nombre_licor %> </h5>
    <p class="card-text">
    <p>
  <strong>Marca:</strong>
  <%= @liquor.marca %>
</p>


<p>
  <strong>Grados alcohol:</strong>
  <%= @liquor.grados_alcohol %>
</p>
    </p>
    </div>
    </div>

    

    <p>
  <strong>Cocteles:</strong>
  <% @liquor.coctels.each do |coctel| %>
    
 
    <div class="card" style="width: 18rem;">
    <h5 class="card-title"><%= coctel.nombre_coctel %></h5>
    <p class="card-text">
    
    <strong>Gramos de alcohol:</strong>
    <%= coctel.gramos_alcohol %>
  </p>
  
  <p>
    <strong>Precio:</strong>
    <%= coctel.precio %>
  </p>
  
      
    </div>
    <br>
  <% end %>
  
</p>

